@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header-top {
  background-color: $bg;
  height: 60px;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 15px;

  }

  &__info {
    display: flex;
    padding: 23px 0 22px;
  }

  &__phone {
    padding-left: 35px;
    padding-right: 30px;
    margin-right: 30px;
    border-right: 1px solid #464646;
    color: #fff;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background-image: url('../images/icons/phone.svg');
      width: 13px;
      height: 13px;
    }
  }

  &__email {
    padding-left: 35px;
    color: #fff;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 1px;
      background-image: url('../images/icons/envelope.svg');
      width: 13px;
      height: 13px;
    }
  }

  &__social {
    display: flex;
  }

  &__social-link+.header-top__social-link {
    padding-left: 30px;
  }
}

.header-bottom {
  height: 100px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 24px;
    line-height: 100px;
    display: flex;
  }

  &__logo-left {
    color: $accent;
    @extend %roboto-700;
  }

  &__logo-right {
    color: #000;
  }

  &__pages {
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.05);
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item {
    font-size: 18px;
    @extend %roboto-500;
  }

  &__list-item+.menu__list-item {
    margin-left: 40px;
  }

  &__list-link {
    color: #3f4853;
  }

  &__list-link--active {
    color: $accent;
    @extend %roboto-700;
  }
}

.user-nav {
  display: flex;

  &__link-bars {
    display: none;
  }

  &__link+.user-nav__link {
    margin-left: 30px;
  }

  &__link-cart {
    position: relative;

    span {
      position: absolute;
      top: -14px;
      right: -12px;
      width: 20px;
      height: 20px;
      background-color: $accent;
      border-radius: 50%;
      line-height: 20px;
      text-align: center;
      @extend %quicksand-500;
      color: #fff;
    }
  }
}

.footer-top {
  height: 60px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social {
    width: 340px;
    display: flex;
    justify-content: space-around;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    height: 60px;
    line-height: 60px;
  }
}

.footer-center {
  &__inner {
    margin: 45px 0 95px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__title,
  &__title-contacts {
    margin-bottom: 30px;
    font-size: 16px;
    @extend %roboto-700;
    text-transform: uppercase;
  }

  &__link {
    margin-bottom: 10px;
    color: #333333;
    @extend %roboto-500;

    &:hover {
      color: $accent;
    }
  }
}

.footer-bottom {
  background-color: $bg;
  height: 60px;

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__copy {
    line-height: 60px;
    color: #777777;
  }

  &__pay {
    display: flex;
  }

  &__pay-link {
    margin-top: 16px;
  }

  &__pay-link+.footer-bottom__pay-link {
    margin-left: 15px;
  }
}

.top-slider {
  &__item {
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
  }

  &__content {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 15px;
    margin-top: 110px;
    max-width: 556px;
  }

  &__content-title {
    font-size: 60px;
    text-transform: uppercase;
    line-height: 80px;
    color: $accent;
    margin-bottom: 20px;
    @extend %roboto-700;
  }

  &__content-text {
    font-size: 16px;
    margin-bottom: 25px;
    color: #fff;
    @extend %quicksand-500;
  }

  &__content-btn {
    text-transform: uppercase;
    padding: 12px 0 10px;
    border: 2px solid #fff;
    width: 115px;
    text-align: center;
    color: #fff;
    @extend %quicksand-500;
    background-color: $accent;
  }

  .slick-dots {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 30px;

    li+li {
      margin-left: 20px;
    }

    li {
      button {
        padding: 0;
        background-color: #fff;
        border: 1px solid $accent;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        font-size: 0;

        &:hover {
          background-color: $accent;
          border: 1px solid #fff;
          width: 20px;
          height: 20px;
        }
      }
    }

    .slick-active {
      background-color: $accent;
      border: 1px solid #fff;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      padding: 0;
      font-size: 0;
      // margin: 0;

      button {
        display: none;
      }
    }


  }
}

.thebest {
  padding: 100px 0 65px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 320px;
    width: 100%;
    margin-right: 40px;
    margin-top: 130px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 30px;
    @extend %roboto-700;
    margin-bottom: 10px;
  }

  &__subtitle {
    @extend %quicksand-500;
    color: $accent;
    font-size: 16px;
    margin-bottom: 30px;
  }

  &__text {
    color: #333333;
  }

  &__items {
    display: flex;
  }

  &__item {
    margin-left: 30px;
  }

  &__img-box {
    max-width: 320px;
    height: 400px;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
    transition: all .4s;

    &:hover {
      .thebest__link-box {
        transform: translateX(0%);
        transition: all .4s;
      }
    }
  }

  &__img {
    max-width: 320px;
    width: 100%;
    height: 400px;
    object-fit: contain;
  }

  &__link-box {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    transform: translateX(200%);
  }

  &__link {
    width: 40px;
    height: 40px;
    background-color: $accent;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__name {
    font-size: 18px;
    @extend %roboto-700;
    margin-bottom: 5px;
  }

  &__cost {
    color: $accent;
    @extend %quicksand-500;
    font-size: 16px;
    margin-bottom: 15px;
  }

  &__star {
    padding: 0;
  }
}

.info {
  background-color: #f5f6f9;

  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    height: 200px;
    padding: 0 99px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__item+.info__item {
    border-left: 2px solid #fff;
  }

  &__img {
    margin-bottom: 25px;
  }

  &__title {
    font-size: 18px;
    @extend %roboto-700;
  }
}

.actions {
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    height: 640px;
    max-width: 640px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__img-box {
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.product {
  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    @extend %roboto-700;
    margin: 100px 0 10px;
  }

  &__subtitle {
    text-align: center;
    color: $accent;
    font-size: 16px;
    margin-bottom: 50px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px 30px;
    margin-bottom: 80px;
  }

  &__img-box {
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    height: 450px;
    max-width: 330px;
    width: 100%;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
    transition: all .4s;

    &:hover {
      .product__link-box {
        transform: translateX(0%);
        transition: all .4s;
      }
    }
  }

  &__img {
    height: 450px;
    max-width: 330px;
    width: 100%;
    object-fit: contain;
  }

  &__link-box {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    transform: translateX(200%);
  }

  &__link {
    width: 40px;
    height: 40px;
    background-color: $accent;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__name {
    font-size: 18px;
    @extend %roboto-700;
    margin-bottom: 5px;
  }

  &__cost {
    color: $accent;
    @extend %quicksand-500;
    font-size: 16px;
    margin-bottom: 15px;
  }

  &__star {
    padding: 0;
  }
}

.coupon {
  &__inner {
    display: flex;
    height: 300px;
  }

  &__content {
    width: 100%;
    background-color: $bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 30px;
    color: #fff;
    @extend %roboto-500;
    margin-bottom: 20px;
  }

  &__text {
    color: #fff;
    margin-bottom: 25px;
  }

  &__form {
    display: flex;
  }

  &__input {
    background-color: #fff;
    height: 45px;
    width: 400px;
    padding: 0 25px;
    border: none;
    margin-right: 10px;
  }

  &__btn {
    height: 45px;
    background-color: $accent;
    border: none;
    color: #fff;
    padding: 0 15px;
  }

  &__icons {
    width: 100%;
    background-color: #f5f6f9;
    display: flex;
    justify-content: space-around;
  }

  &__img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.cart {
  &__inner {
    border: 1px solid #e5e5e5;
    margin-bottom: 65px;
  }

  &__inner-title {
    display: flex;
  }

  &__title-product,
  &__product {
    max-width: 410px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
  }

  &__title-sizecolor,
  &__sizecolor {
    max-width: 190px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
  }

  &__title-number,
  &__number {
    max-width: 170px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
  }

  &__title-price,
  &__price {
    max-width: 180px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
  }

  &__title-result,
  &__result {
    max-width: 190px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
  }

  &__title {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px 0 15px;
  }

  &__content {
    display: flex;
  }

  &__product {
    max-width: 410px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
  }

  &__product-img {
    width: 80px;
    height: 100px;
    object-fit: contain;
    margin-right: 25px;
  }

  &__sizecolor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__result {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__result-img {
    cursor: pointer;

    svg {
      path {
        fill: #000;
      }

      &:hover {
        path {
          fill: $accent;
        }
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
  }

  &__btn-link {
    text-transform: uppercase;
    margin-right: 20px;
    padding: 10px 15px;
    border: 1px solid #cccccc;
    color: #232323;

    &:hover {
      background-color: $accent;
      border: 1px solid #eeeeee;
      color: #fff;
    }
  }

}

.jq-number__field {
  width: 114px;
  transform: translateY(2px);
}

.jq-number__field input {
  width: 100%;
  height: 50px;
  width: 114px;
  border: 1px solid #e5e5e5;
  outline: none;
  @extend %quicksand-500;
  color: $title;
  text-align: center;
}

.jq-number {
  padding: 0;
  position: relative;
}

.jq-number__spin {
  position: absolute;
  cursor: pointer;
  width: 13px;
  height: 13px;
  top: 50%;
  transform: translateY(-50%);
}

.jq-number__spin.minus {
  left: 15px;
}

.jq-number__spin.plus {
  right: 15px;
}

.jq-number__spin::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  background-color: $title;
  width: 12px;
  height: 1px;
}

.jq-number__spin.plus::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  background-color: $title;
  width: 1px;
  height: 12px;
}

.cart-discount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;

  &__item {
    max-width: 550px;
    width: 100%;
  }

  &__item+.cart-discount__item {
    margin-left: 40px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 25px;
  }

  &__subtitle {
    color: #777777;
    font-size: 14px;
    margin-bottom: 5px;
    @extend %roboto-500;
  }

  &__form {
    display: flex;
  }

  &__input {
    max-width: 420px;
    width: 100%;
    border: none;
    border-left: 1px solid #a3a2a3;
    border-top: 1px solid #a3a2a3;
    border-bottom: 1px solid #a3a2a3;
    padding: 10px 20px;
  }

  &__btn {
    text-transform: uppercase;
    background-color: $accent;
    border: none;
    padding: 0 15px;
    color: #fff;
  }
}

.cart-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;

  &__delivery {
    max-width: 550px;
    width: 100%;
    margin-right: 40px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 25px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    width: 100%;
    @extend %roboto-500;
  }

  &__label {
    color: #777777;
    font-size: 14px;
    margin-bottom: 5px;
    @extend %roboto-500;
  }

  &__select {
    width: 100%;
    margin-bottom: 15px;
  }

  &__input {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #a3a2a3;
    height: 32px;
  }

  &__btn-left {
    text-transform: uppercase;
    width: 150px;
    padding: 5px 0;
    background-color: transparent;
    border: 1px solid #cccccc;
    cursor: pointer;

    &:hover {
      border: 1px solid $accent;
      background-color: $accent;
      color: #fff;
    }
  }

  &__calculation {
    max-width: 550px;
    width: 100%;
  }

  &__box {
    border: 1px solid #a3a2a3;
    padding: 25px 35px 20px;
  }

  &__box-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    @extend %roboto-500;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 22px 35px 29px;
    border: 1px solid #a3a2a3;
    border-top: none;
    margin-bottom: 18px;
    @extend %roboto-500;
  }

  &__btn-right {
    display: block;
    margin-left: auto;
    padding: 5px 0;
    width: 215px;
    text-transform: uppercase;
    border: 1px solid #cccccc;
    background-color: transparent;
    @extend %roboto-500;

    &:hover {
      border: 1px solid $accent;
      background-color: $accent;
      color: #fff;
    }
  }
}

.jq-selectbox__select {
  height: 46px;
  width: 100%;
  padding: 5px 45px 10px 20px;
  border: 1px solid #a3a2a3;
  border-radius: 0;
  box-shadow: none;
  color: #333;
  text-shadow: none;
}

.jq-selectbox__select-text {
  display: block;
  margin-top: 3px;
  width: 100%;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 8px;
  height: 8px;
  border: none;
  background-image: url('../images/icons/chevron-down.svg')
}

.jq-selectbox__dropdown {
  width: 100%;
  margin: 2px 0 0;
  padding-left: 20px;
  border: 1px solid #a3a2a3;
  border-radius: 0;
  background: #fff;
  ;
  box-shadow: none;
}

.jq-selectbox li.selected {
  background-color: #a3abb1;
  color: #fff;
}

.jq-selectbox li:hover {
  background-color: #a3abb1;
  color: #fff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.checkout {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
  }
}

.checkout-details {
  max-width: 660px;
  width: 100%;
  margin-right: 30px;

  &__title {
    text-transform: uppercase;
    font-size: 16px;
    @extend %roboto-700;
    margin-bottom: 30px;
  }

  &__form {
    max-width: 660px;
    width: 100%;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__box-lastname,
  &__box-name {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
  }

  &__box-lastname {
    margin-right: 50px;
  }

  &__label {

    span {
      color: #dc4b4e;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #a3a2a3;
    height: 46px;
    padding: 0 20px;
  }

  &__box-checkbox {
    display: flex;
  }

  &__input-checkbox {
    margin-right: 5px;
  }
}

.checkout-order {
  max-width: 445px;
  width: 100%;

  &__total {
    border: 1px solid #a3a2a3;
    padding: 35px 25px 30px 30px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 16px;
    @extend %roboto-700;
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  &__item-top {
    border-bottom: 1px solid #a3a2a3;
  }

  &__items {
    padding: 15px 0;
    border-bottom: 1px solid #a3a2a3;
  }

  &__item-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    @extend %roboto-700;
    text-transform: uppercase;
    margin-top: 25px;
  }

  &__payment {
    border: 1px solid #a3a2a3;
    border-top: none;
    padding: 30px 25px 30px 30px;
  }

  &__payment-box {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  &__btn {
    display: block;
    margin-left: auto;
    margin-top: 20px;
    text-transform: uppercase;
    height: 36px;
    padding: 0 25px;
    background-color: $accent;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}

.jq-radio.checked .jq-radio__div {
  width: 12px;
  height: 12px;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url('../images/icons/chevron-down-accent.svg');
  }
}

jq-checkbox,
.jq-radio {
  width: 12px;
  height: 12px;
  margin: 0 10px 0 0;
  border: 1px solid #b3b2b3;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
}

.comparison {
  &__inner {
    display: grid;
    grid-template-columns: 13% 29% 29% 29%;
    border: 1px solid #b3b2b3;
    border-bottom: 2px solid #b3b2b3;
    margin-bottom: 150px;
  }

  &__item {
    border: 1px solid #b3b2b3;
    height: 50px;
    line-height: 50px;
    width: 100%;
  }

  &__item-products {
    height: 60px;
    line-height: 60px;
  }

  &__item-photo {
    height: 190px;
    line-height: 190px;
  }

  &__item-description {
    height: 180px;
    line-height: 20px;
  }

  &__item-descriptionname {
    height: 180px;
    line-height: 180px;
  }

  &__item-box {
    height: 100px;
    border-bottom: none;
  }

  &__name {
    text-align: center;
    @extend %roboto-500;
  }

  &__text {
    text-align: center;
    padding: 0 30px;
  }

  &__description-text {
    padding: 20px 15px 15px 30px;
  }

  &__img-box {
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    max-width: 100px;
    height: 120px;
    object-fit: contain;
    border: 1px solid #b3b2b3;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__star {
    margin: 0 auto;
    padding-top: 17px;
  }

  &__box {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
      cursor: pointer;

      path {
        fill: #000;
      }

      &:hover {
        path {
          fill: $accent;
        }
      }
    }
  }

  &__box-btn {
    height: 35px;
    line-height: 35px;
    border: 1px solid #b3b2b3;
    text-transform: uppercase;
    background-color: transparent;
    width: 150px;
    @extend %roboto-500;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
      border: 1px solid $accent;
      color: #fff;
      background-color: $accent;
    }
  }
}

.filter {
  &__item {
    width: 260px;
    margin-right: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 30px;
  }

  &__item-title {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.filter-categories {
  &__label {
    display: block;
    margin-bottom: 15px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-categories__checkbox {
      background-color: $accent;
      color: #fff;
      span {
          &::before {
            background-color: #fff;
          }
        }
    }
  }

  &__checkbox {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    padding-right: 15px;
  }

  &__span {
    padding-left: 15px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: #c3c3c5;
      left: 2px;
      top: 11px;
    }
  }
}
.filter-price{
  &__extra-controls{
    display: flex;
    width: 260px;
  }
  &__input-from,
  &__input-to{
    width: 110px;
    margin-right: 5px;
    border: 1px solid #eeeeee;
  }
  &__btn{
    background-color: $accent;
    border: $accent;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.irs--round .irs-line {
  top: 30px;
  height: 4px;
  background-color: #e1e4eb;
  border-radius: 0;
}
.irs--round .irs-bar {
  top: 30px;
  height: 4px;
  background-color: $accent;
}
.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  display: none;
  &::before{
    display: none;
  }
}
.irs--round .irs-handle {
  top: 21px;
  width: 20px;
  height: 20px;
  border: 3px solid $accent;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 3px rgb(0 0 255 / 30%);
  box-shadow: 0 1px 3pxrgba(0, 0, 255, 0.3);
}
.irs--round {
  height: 70px;
}
.irs--round .irs-min,
.irs--round .irs-max {
  display: none;
}
.filter-size {
  &__label {
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
    border: 1px solid #f0f0f0;
    text-transform: uppercase;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-size__checkbox {
      background-color: $accent;
      color: #fff;

      span {
        &::before {
          background-color: #fff;
        }
      }
    }
  }

  &__checkbox {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    padding-right: 15px;
  }

  &__span {
    padding-left: 15px;
    position: relative;

  }
}
.filter-color{
  &__label{
    display: block;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  &__input{
    @extend %checkbox-hidden;

    &:checked + .filter-color__checkbox{
      background-color: $accent;
      border: 2px solid $accent;
    }
  }
  &__checkbox{
    width: 10px;
    height: 10px;
    position: absolute;
    border: 2px solid #a1a1a1;
    background-color: transparent;
    margin-top: -4px;
  }
  &__text{
    margin-left: 20px;
  }
}
.filter-popular{
  &__item{
    display: flex;
    margin-bottom: 20px;
  }
  &__img{
    width: 80px;
    height: 100px;
    margin-right: 15px;
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
  }
  &__content-name{
    @extend %roboto-500;
  }
  &__content-price{
    color: $accent;
    @extend %roboto-500;
  }
}

















@import 'media';